*{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}

body {
    font-family: "Computer Modern Serif";
    color: black;
    font-size: 18px;
}


#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

.header_a {
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

#lefty {
	float: left;
	position: relative;
}

#navigation {
	text-align: right;
}

#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 4px 0px 12px 0px;
    text-align: right;
}


h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}


.figure {
	text-align: center;
}

.info {
    font-size: 80%;
	font-style: italic;
    margin-bottom: 30px;
}

.caption {
	margin-left: 30px;
	margin-right: 30px;
	font-size: 90%;
}



/* mobile: 21em */
@media all and (min-width: 21em) { 
	
	pre {
		font-size: 75%;
		margin-left: 0px;
	}
	
	p code {
		font-size: 85%;
	}

	img {
		width: 350px;
    }

	img.small {
		width: 280px;
    }


}

/* browser: 90em*/
@media all and (min-width: 80em) {
	body {
		width: 700px;
		margin-right: auto;
		margin-left: auto;
	}
	img {
		width: 500px;
	}
	img.small {
		width: 275px;
    }

    pre {
		font-size: 90%;
        margin-left: 25px;
    }

	p code {
		font-size: 95%;
	}


}
