table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre{margin:0;padding:0;border:0;vertical-align:baseline;border:none}
td.lineNumbers{border-right:1px solid #AAAAAA;text-align:right;color:#AAAAAA;padding-right:5px;padding-left:5px}
td.sourceCode{padding-left:5px}
code.sourceCode span.kw{color:#268BD2;font-weight:bold}
code.sourceCode span.dt{color:#268BD2}
code.sourceCode span.dv{color:#D33682}
code.sourceCode span.bn{color:#D33682}
code.sourceCode span.fl{color:#D33682}
code.sourceCode span.ch{color:#DC322F}
code.sourceCode span.st{color:#2AA198}
code.sourceCode span.co{color:#93A1A1;font-style:italic}
code.sourceCode span.ot{color:#A57800}
code.sourceCode span.al{color:#CB4B16}
code.sourceCode span.fu{color:#268BD2}
code.sourceCode span.re{}
code.sourceCode span.er{color:#D30102;border:1px solid #ef2929}
