<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>tatterdemalion - $title$</title>
        <meta name="viewport" content="width=device-width">
<link rel="stylesheet" type="text/css" href="/fonts/Sans/cmun-sans.css"/>
<link rel="stylesheet" type="text/css" href="/fonts/cmun-serif.css"/>
<link rel="stylesheet" type="text/css" href="/fonts/SerifSlanted/cmun-serif-slanted.css"/>
<!-- <link rel="stylesheet" type="text/css" href="/css/screen.css"/> -->
<link rel="stylesheet" type="text/css" href="/css/syntax.css"/>
<link rel="stylesheet" type="text/css" href="/css/default.css" />

</head>
    <body>
        <div id="header">
            <div id="lefty">
                <a class="header_a" href="/">tatterdemalion</a>
            </div>
            <div id="navigation">
                <a href="/archive.html" class="header_a">archive</a>
            </div>
        </div>

        <div id="content">
            <h1>$title$</h1>

            $body$
        </div>
        <div id="footer">
		  <div id="lefty">
			<a href="https://github.com/slpopejoy/tatterdemalion">sources</a>
		  </div>
          <a href="http://jaspervdj.be/hakyll">hakyll</a>
		    
        </div>
    </body>
</html>
